server {
    client_max_body_size 24000M;

    listen 80;
    listen  [::]:80;

    location / {
        client_max_body_size 24000M;
        root /usr/share/nginx/html;
        index index.html index.htm;
        try_files $uri $uri/ /index.html;
        rewrite ^/(.*) /$1 break;
    }

    error_page   500 502 503 504  /50x.html;   
    location = /50x.html {
        client_max_body_size 24000M;
        root   /usr/share/nginx/html;
    }
}
